{% extends "layout.html" %}

{% block title %}
    Measures
{% endblock %}

{% block main %}

<h1>Measures</h1>
<div class="forms">
<h2>Please choose current measures.</h2>

  <div class="row mb-3">
    <label for="temperatureCategory" class="col-md-2 col-form-label">Temperature Category</label>
    <div class="col-sm-auto">
      <select class="form-control" id="temperatureCategory" aria-label="Default select">
        <option selected>Choose one option</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <label for="schoolClosing" class="col-md-2 col-form-label">School Closing</label>
    <div class="col-sm-auto">
      <select class="form-select" id="schoolClosing" aria-label="Default select">
        <option selected>Choose one option</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <label for="workplaceClosing" class="col-md-2 col-form-label">Workplace Closing</label>
    <div class="col-sm-auto">
      <select class="form-select" id="workplaceClosing" aria-label="Default select">
        <option selected>Choose one option</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <label for="cancelEvents" class="col-md-2 col-form-label">Cancel Public Events</label>
    <div class="col-sm-auto">
      <select class="form-select" id="cancelEvents" aria-label="Default select">
        <option selected>Choose one option</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <label for="restrictionsGatherings" class="col-md-2 col-form-label">Restrictions on Gatherings</label>
    <div class="col-sm-auto">
      <select class="form-select" id="restrictionsGatherings" aria-label="Default select">
        <option selected>Choose one option</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <label for="closeTransport" class="col-md-2 col-form-label">Close Public Transport</label>
    <div class="col-sm-auto">
      <select class="form-select" id="closeTransport" aria-label="Default select">
        <option selected>Choose one option</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <label for="stayHome" class="col-md-2 col-form-label">Stay at Home</label>
    <div class="col-sm-auto">
      <select class="form-select" id="stayHome" aria-label="Default select">
        <option selected>Choose one option</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <label for="restrictionsMovement" class="col-md-2 col-form-label">Restrictions on Internal Movement</label>
    <div class="col-sm-auto">
      <select class="form-select" id="restrictionsMovement" aria-label="Default select">
        <option selected>Choose one option</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="row mb-3">
    <label for="travelControl" class="col-md-2 col-form-label">International Travel Control</label>
    <div class="col-sm-auto">
      <select class="form-select" id="travelControl" aria-label="Default select">
        <option selected>Choose one option</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary my-1">Submit</button>

</div>
{% endblock %}