{% extends "layout.html" %}

{% block title %}
    Measures
{% endblock %}

{% block main %}

<h1>Measures</h1>
<h2>Please choose current measures.</h2>
<form action="/results" method="post">
<div class="forms">
  <div class="row mb-3">
    {% for key, value in measures_dict.items() %}
    <label for="measure-name" class="col-md-2 col-form-label">{{ key }}
      <div class="col-sm-auto">
        <select class="form-control" id="measure-name" name="{{ key }}" aria-label="Default select">
          <option selected>Choose one option</option>
            {% for v in value %}
              <option value="{{ v }}">{{ v }}</option>
        {% endfor %}
        </select>
      </div>
     {% endfor %}
      </div>
    </div>
 <input class="btn btn-primary btn-lg" type="submit" value="Submit">
</form>
{% endblock %}