html {
  min-height: 100vh;
  position: relative;
}

main .measure-control
{
    display: inline-block;
    width: auto;
}

main
{
    overflow-x: auto;
    margin-left: 25px;
    margin-right: 25px;
}

body {
    background-color: #F5FAFA;
}

.bg-turquoise {
    background-color: #6B8EB7;
}

footer {
    background-color: #6B8EB7;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:visited,
.btn-primary:active {
    background-color: #6B8EB7;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
}

th {
  background-color: #6B8EB7;
  color: white;
}

th,
td {
  padding: 15px;
  text-align: left;
}

table,
th,
td {
    border: 1px solid black;
}

table {
    margin: 0 auto;
    page-break-inside:auto;
}

tr    {
    page-break-inside:avoid;
    page-break-after:auto;
}

h1 {
    margin-top: 20px;
    margin-bottom: 50px;
    color: #6B8EB7;
}

h2 {
    margin-top: auto;
    margin-bottom: 50px;
    color: #6B8EB7;
}

.return-home {
    color: white; !important;
    margin-top: auto;
    margin-right: auto;
}

a:link,
a:visited,
a:hover,
a:active
{
    color: white;
    text-decoration: none;
}

.forms {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    align-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    align-content: space-between;
}

.col-sm-auto {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

button {
    margin-top: 20px;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
}

.form-check-input {
    margin-top: 5px;
    margin-bottom: 50px;
}